.sign-up {
  font-weight: 600;
}

.btn-link {
  font-weight: 700;
  color: #d32f2f;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}
  
.btn-facebook {
  color: white;
  background-color: #3b5998;
}
  