<div class="container">
    <div class="row">
      
      <div class="col-xl-4 col-md-6 mb-6 mx-auto">
        <div class="card border-0 shadow">
          <a class="btn btn-primary" [routerLink]="['/register']">
            <img src="..\assets\imgs\whole-pizza.png" class="card-img-top" alt="...">
          </a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Whole Pizza</h5>
            <!-- <div class="card-text text-black-50">`Pizza 01</div> -->
          </div>
        </div>
      </div>
      
      <div class="col-xl-4 col-md-6 mb-6 mx-auto">
        <div class="card border-0 shadow">
          <a class="btn btn-primary" [routerLink]="['/login']">
            <img src="..\assets\imgs\half-pizza.png" class="card-img-top" alt="...">
          </a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Half 'n' Half Pizza</h5>
            <!-- <div class="card-text text-black-50">Pizza 02</div> -->
          </div>
        </div>
      </div> 

  </div>